<!--  <div class="row pie-charts">

  <ba-card *ngFor="let chart of charts" class="pie-chart-item-container col-xlg-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">

    <div class="pie-chart-item">
      <div class="chart" [attr.data-rel]="chart.color" data-percent="60">
        <span class="percent"></span>
      </div>
      <div class="description">
        <div>{{ chart.description }}</div>
        <div class="description-stats">{{ chart.stats }}</div>
      </div>
      <i class="chart-icon i-{{ chart.icon }}"></i>
    </div>

  </ba-card>
</div>
-->
  <!--  <div class="col-md-12 col-lg-4"><h5>Pie with labels</h5>
            <ba-chartist-chart baChartistChartClass="ct-chart stacked-bar"
                               baChartistChartType="Pie"
                               [baChartistChartData]="data['labelsPieData']"
                                >
            </ba-chartist-chart>
          </div> -->

  <!--  <div class="col-md-12 col-lg-4"><h5>Pie with labels</h5>
            <ba-chartist-chart baChartistChartClass ="ct-chart stacked-bar"
                               baChartistChartType="Pie"
                               [baChartistChartData]="labelsPieData">
            </ba-chartist-chart>
          </div> -->

          <div class="row">
            <div class="col-md-6">
              <ba-card title="Pie Chart" baCardClass="with-scroll">
                <div class="row">
                  <div class="col-sm-6"> 
                    <ba-chartist-chart baChartistChartClass="ct-chart stacked-bar"
                               baChartistChartType="Pie"
                               [baChartistChartData]="simplePieData"
                               [baChartistChartOptions]="simplePieOptions"
                               [baChartistChartResponsive]="getResponsive(20, 75)">
                    </ba-chartist-chart>
                  </div>
                  <div class="col-lg-6 col-lg-4">
                    <div class="channel-info-item" *ngFor="let item of satusChartValue">
                      <div class="legends-color" [ngStyle]="{'background-color': item.color }"></div> 
                      <p>{{ item.label }} ( <span style="font-size: 5px;">  </span><span>+{{ item.percentage }}%)</span></p>
                    </div>
                  </div>            
              </div>
            </ba-card>
          </div>
       
          <div class="col-md-6">
            <ba-card title="Bar Chart" baCardClass="with-scroll">
              <div class="row">
  <!--               <div class="channels-info-item" *ngFor="let item of satusChartValue">
                   <div class="legend-colors" [ngStyle]="{'background-color': '#398564'}"></div>
                     <pre>{{ item.label }}:{{item.value}} Request(s) </pre>                      
                </div> -->
                <ba-chartist-chart baChartistChartClass="ct-chart"
                   baChartistChartType="Bar"
                   [baChartistChartData]="simpleBarData"
                   [baChartistChartOptions]="simpleBarOptions">
                </ba-chartist-chart>
              </div>
            </ba-card>
          </div>

    <!-- <div class="col-sm-4">
    <div class="channels-info-item" *ngFor="let item of satusChartValue">
                 <div class="legend-color" [ngStyle]="{'background-color': item.color }"></div> 
                  <p>{{ item.label }}</p><span>{{item.value}} Request(s) </span>
      
    </div>
     
  </div> -->
      </div>
         